<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaction</title>
</head>
<body>
    {% csrf_token %}
    <table class = 'table' border="1">
        <thead>
            
            <tr>
                <th>Emp ID</th>
                <th>Vaction start Date</th>
                <th>Vaction End Date</th>
                <th>Vaction Length</th>
            </tr>
        </thead>
        <tbody>
        {% for table in tables %}
            <tr>
                <td>{{ table.emp_id }}</td>
                <td>{{ table.vaction_start }}</td>
                <td>{{ table.vaction_end }}</td>
                <td>{{ table.vaction_length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>