{% extends 'layout.html' %}

{% block content %}


  <div class='container'>
        <!-- 按鈕 跳轉 -->
        <div style="margin-bottom: 10px;">
          <a class="btn btn-success" href="/depart/add/">
              <!-- 圖標 -->
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 
              測試按鈕
          </a>
          <a class="btn btn-danger" href="/depart/add/">
            <!-- 圖標 -->
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> 
            測試按鈕
          </a>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">新建部門</h3>
          </div>
          <div class="panel-body">
            <!-- 表單 -->
            <form class="form-horizontal" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label class="col-sm-2 control-label">部門</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="部門" name="title">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary">保存</button></button>
                </div>
              </div>
            </form>
            <!-- 表單結束 -->
          </div>
        </div>
  </div>


{% endblock %}